.workExpcard{
    background: #130f2a;
    border-radius: 0.65rem;
    border: 2px solid #6751b9;
    padding-left: 1.5rem;
    padding-top: 0%;
    margin: 2 1rem;
}
.workExpcard h6{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
.work-dur{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 400;
    background: rgba(103,81,185,0.5);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
}
.workExpcard ul li{
    font-size: 1.02rem;
    list-style: none;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}
.workExpcard ul li::after{
    content: " ";
    width: 0.5rem;
    height:0.5rem;
    border-radius: 0.5rem;
    background:#f095f0;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

